#body{
    text-decoration: none;
    background-color: #Ca8dfd;
}

.topnav {
    overflow: hidden;
    background-color: rgb(196, 29, 196);
  }
  .topnav a.active {
    background-color: purple;
    color: white;
  }

  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }


  #heading{
    font-size: x-large;
  }

/* 
  #undrawimage{
    width: 45%;
    margin-left: 3%;
  } */


  #bodycont{
    display: flex;
  }


  #undrawimage{
    margin-left: 9%;
  }

  #heading{
    padding-top: 180px;
  }

  .button{
    border-radius: 7px;
    height: 7%;
    margin-left: 10%;
  }


  #logo{
    width: 8%;
  }
 
  
  @media only screen and (max-width: 700px) and (min-width:375px ){
    #undrawimage{
      margin-left: 5%;
    }


    #bodycont{
   flex-wrap: wrap;
    }

    #undrawimage{
      width: 90%;
      padding-top: 10px;
    }

    #heading{
      padding-top: 10px;
    }
  }

  @media only screen and (max-width: 1000px) and (min-width:414px ){

    #undrawimage{
     
      padding-top: 10px;
      padding-bottom: 150px;
    
      height: 90%;
    }

  }

  @media only screen and (max-width: 1200px) and (min-width:700px ){

    #bodycont{
      flex-wrap: wrap;
       }


    #undrawimage{
      width: 90%;
      padding-top: px;
    }


    #heading{
      padding-top: 0px;
    }

    #undrawimage{
     
      padding-top: 10px;
      padding-bottom: 70px;
      margin-right: 20px;
      height: 90%;
    }

  }