#body{
    text-decoration: none;
    background-color: #Ca8dfd;
}

.topnav {
    overflow: hidden;
    background-color: rgb(196, 29, 196);
  }
  .topnav a.active {
    background-color: purple;
    color: white;
  }

  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  #programtext{
    text-align: center;
    color: white;
  }

  #bodytext{
    margin-left: 5%;
    font-size: x-large;
    padding-top: 12%;
  }

  #mentorhand{
   width: 40%;
   margin-left: 5%;
   object-fit: cover;
   width: 60%;
   height: 60%;
  }

  #menteeimg{
    display: flex;
  }


  #logo{
    width: 7%;
  }

  @media only screen and (max-width: 800px) and (min-width:375px ){
   
    #menteeimg{
      display: grid;
    }

    #mentorhand{
      width: 90%;
      margin-left: 5%;
     }
   


  }


  @media only screen and (max-width: 800px) and (min-width:360px ){

    #menteeimg{
      display: grid;
    }

    #mentorhand{
    width: 90%;
     margin-left: 5%;
     }
   

  }

  @media only screen and (max-width: 1200px) and (min-width:360px ){
    #menteeimg{
      display: grid;
    }


    #mentorhand{
      width: 90%;
       margin-left: 5%;
       }

  }


  @media only screen and (max-width: 1200px) and (min-width:360px ){


    #mentorhand{
      width: 90%;
       margin-left: 5%;
       }
  }


  @media only screen and (max-width: 700px) and (min-width:280px ){

    #menteeimg{
      display: grid;
    }

    #mentorhand{
      width: 90%;
       margin-left: 5%;
       }

   
  }

  @media only screen and (max-width: 1030px) and (min-width:600px ){


    #mentorhand{
      width: 50%;
       margin-left: 20%;

       }
  }






  

