#body{
    text-decoration: none;
    background-color: #Ca8dfd;
}

.topnav {
    overflow: hidden;
    background-color: rgb(196, 29, 196);
  }
  .topnav a.active {
    background-color: purple;
    color: white;
  }

  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  #programtext{
    text-align: center;
    color: white;
  }

  #bodytext{
    margin-left: 5%;
    font-size: x-large;
  }

  #mentorhand{
   width: 40%;
   margin-left: 5%;
  }
  

