#navbar{
    text-decoration: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: purple;
    height: 30%;
 
}


#list{
    border: solid 1px;
    display: flex;
    gap: 5%;
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: x-large;
    gap: 20%;
}


#viewbutton{
    border-radius: 20px;
    background-color: purple;
    color: white;
    height: 0%;
    padding-top: 25%;
    width: 250px;

}

#to-do-text{
    text-align: center;
}

.topnav {
    overflow: hidden;
    background-color: rgb(196, 29, 196);
  }
  .topnav a.active {
    background-color: purple;
    color: white;
  }

  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  #checkbox{
    width: 5%;
    margin-left: 2%;
  }


  #summarytext{
    margin-right: 5%;
  }


  #buttons{
    border-radius: 7px;
    background-color: purple;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    color: white;
  }

  #listbutton{
    display: flex;
  }

  #listbutton2{
    display: flex;
  }

  #checkbox2{
    width: 10%;
    margin-left: 2%;
  }



  @media only screen and (max-width: 600px) and (min-width:200px ){

#list{
  border: solid 1px;
  gap: 5%;
  padding-top: 80px;
  padding-bottom: 80px;
  font-size: x-large;
  flex-wrap: wrap;
}

  }




